.cardre {
  padding: 10px;

  background-image: url(https://firebasestorage.googleapis.com/v0/b/mesha-vegas.appspot.com/o/back1.jpg?alt=media&token=1a46bd1a-e259-40a7-a27e-c852ef1e5cc8);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.nom {
  font-size: 2rem;
  color: aliceblue;
}
.quote {
  font-size: 2rem;
  color: aliceblue;
}
.address {
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
}
.btn-cv {
  color: aliceblue;
  text-align: center;
  font-size: 2rem;
  border: none;
  padding: 10px;
}
.btn-cv:hover {
  background-color: aquamarine;
  border-radius: 12px;
  color: brown;
  cursor: pointer;
}
.btn-cv i {
  font-size: 2rem;
}
