.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  margin-right: -20px;
  background-color: rgb(46, 13, 122);
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-left: 1rem;
  flex: 1;
}
.brand-name img {
  border-radius: 50%;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #231244;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.navigation-menu {
  flex: 4;
  display: flex;
  padding: 0;
  justify-content: center;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: aliceblue;
}
.contact {
  flex: 1;
  justify-content: center;
  padding: 10px;
  color: aliceblue;
}
.numero {
  display: none;
}
@media screen and (max-width: 768px) {
  .navigation {
    margin-right: -8px;
    width: 100%;
  }
  .numero {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .contact {
    display: none;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: rgb(202, 199, 199);
    border-top: 1px solid black;
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}
